.home {
  &__bg-image {
    height: inherit;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
  }

  &__container {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 98vw;
    align-self: center;
  }

  &__title {
    font-weight: normal;
    margin: 1vw;
  }

  &__converter {
    background-color: white;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    padding: 1.5vw;
    max-height: 40vw;
    border: 1px solid lightgray;
    border-radius: 1vw;
    box-shadow: 3px 3px 12px rgb(51, 51, 51);

    &-label {
      font-weight: normal;
      border: 2px dashed #636395;
      border-radius: 1vw;
      padding: 2vw 4vw;
      color: #636395;
      cursor: pointer;
      transition: .3s;

      &:hover {
        opacity: 0.6;
        transition: .3s;
      }
    }

    &-text {
      text-align: justify;
      margin: 0;
      white-space: pre-wrap;
      overflow-x: auto;
      overflow-y: hidden;
      word-wrap: break-word;

      &-title {
        font-size: 1.5vw;
        font-weight: normal;
        color: #636395;
        text-align: center;
      }

      &-wrapper {
        width: 90%;
        padding: 1vw;
        max-height: 20vw;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }

    &-btn {
      font-size: 1.5vw;
      border: none;
      background-color: #cbcbe9;
      border-radius: .5vw;
      margin: 2vw;
      padding: .5vw 1vw;
      cursor: pointer;
      transition: .3s;

      &:hover {
        transition: .3s;
        background-color: #ababd3;
      }
    }
  }
}